/vapid
/urls.json
/subscribers.json
/Server
/ProductTracker.iml
/package-lock.json
/.idea/
/node_modules/
/src/keys.js
/src/app.js
/src/app.js.map
/src/.baseDir.ts
/src/.baseDir.js
/src/subscriber.js.map
/src/subscriber.js
/.tscache/
/src/public/javascripts/keys.js
/src/bin/www.js.map
/src/bin/www.js
/src/tests/subscriberTest.js
/src/tests/subscriberTest.js.map
/test.json
